#win32
luaspq-1.1/project/lua.dir/
luaspq-1.1/project/luac.dir/
luaspq-1.1/project/liblua.dir/
luaspq-1.1/project/wlua.dir/
luaspq-1.1/project/Win32/
luaspq-1.1/project/Release/
luaspq-1.1/project/Debug/
!luaspq-1.1/project/Release/asm/
luaspq-1.1/project/lua.sdf
luaspq-1.1/project/lua.v12.suo
#x64
luaspq-1.1/project64/lua.dir/
luaspq-1.1/project64/luac.dir/
luaspq-1.1/project64/liblua.dir/
luaspq-1.1/project64/wlua.dir/
luaspq-1.1/project64/Release/
luaspq-1.1/project64/Debug/
!luaspq-1.1/project64/Release/asm/
luaspq-1.1/project64/lua.sdf
luaspq-1.1/project64/lua.v12.suo
#arm
luaspq-1.1/projectarm/lua.dir/
luaspq-1.1/projectarm/luac.dir/
luaspq-1.1/projectarm/liblua.dir/
luaspq-1.1/projectarm/wlua.dir/
luaspq-1.1/projectarm/Release/
luaspq-1.1/projectarm/Debug/
luaspq-1.1/projectarm/lua.sdf
luaspq-1.1/projectarm/lua.v12.suo